@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using apbd_projekt.Shared
@attribute [Authorize]

<h3>StockDetails</h3>
<p>Ticker: @fullStock.Ticker</p>

@code {
	#pragma warning disable CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.

	[Parameter]
	public SimpleStock stockSearchResult { get; set; }

	public Stock fullStock { get; set; }

	public async Task<Stock> FetchStockAsync(string ticker)
	{
		var stock = await Http.GetFromJsonAsync<Stock>("api/stocks/stock?ticker=" + ticker);

		if(stock == null)
		{
			throw new Exception("stock with supplied ticker not found in backend");
		}

		return stock;
	}

	protected override async Task OnInitializedAsync(){
		fullStock = await FetchStockAsync(stockSearchResult.Ticker);
	}
}
